name: Hadolint

on:
  workflow_dispatch: {}
  workflow_call: {}
  push: {}
  pull_request:
    types: [opened, reopened, synchronize]

concurrency:
  group: ci-containerfile-lint-${{ github.ref }}-1
  cancel-in-progress: true

jobs:
  hadolint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: hadolint/hadolint-action@v3.2.0
        with:
          dockerfile: Containerfile
